<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Webpage Title -->
        <title>Webpage Title</title>
        
        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
        <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        
    </head>
    
    <body data-spy="scroll" data-target=".fixed-top">
        

        <!-- Header -->
        <header id="header" class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 left-wrapper">
                        <div class="text-container">
                            <h2>حسن کاظمی طهرانی<br/>Hassan Kazemi Tehrani <br/>دکتر حسین زینلی<br/> Prof. Hossein Zeinali<br/> </h2>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-xl-7 right-wrapper">
                        <div class="text-container">
                            <h2 id="js-rotating" class="h2-large">تبدیل صدای<br/> Any-To-Many<br/>  دلخواه به چند <br/> Voice Conversion<br/> در زبان فارسی  <br/> in Persian Speech<br/> به کمک شبکه استارگن <br/>using StarGANv2-VC</h2>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container-fluid -->
        </header> <!-- end of header -->
        <!-- end of header -->

        <h2 dir="rtl" style="float: right; margin-right: 50px;">لطفا صدای خود و گوینده مورد نظر خود را انتخاب کنید و سپس دکمه تایید را فشار دهید.</h2>
        <h2 dir="ltr" style="float: left; margin-left: 50px;">Please upload your desired voice and speaker, then press the submit button to convert your voice.</h2>
        <!-- Services -->
        <div id="services" class="basic-1">
            
            <div class="container">
            <form enctype="multipart/form-data" action="/convertWav" method="post">
                {% csrf_token %}
               <input type="file" name="source" accept="audio/wav">
               <select name="speaker" style="width: 300px; padding: 4px;" class="form-select" aria-label="Default select example">
                <option disabled>-Choose from the list below</option>
                {% for i in data %}
                    {% if i < 10 %}
                        <option value="00{{i}}">Speaker {{ i }}</option>
                    {% else %}
                        <option value="0{{i}}">Speaker {{ i }}</option>
                    {% endif %}
                {% endfor %}
              </select>
               <button style="margin-left: 200px;" class="btn btn-primary" type="submit">submit</button>
            </form>
            </div> <!-- end of container -->
        </div> <!-- end of basic-1 -->
        <!-- end of services -->

    </body>
</html>